<!--Page provides the title About Us to the title variable in the application.html.erb page-->
<%provide(:title, "About Us")%>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h2 class="panel-title">About Us</h2>
  </div>
  <div class="panel-body">
    
    <p>
    Welcome to Fresh Flowers Ltd from Aoife McQuinn & Emma Regan.
    Our company was established in 2016 as part of a project for our
    Server Side Development module at the National College of Ireland.</p>
    <p>
    Fresh Flowers Ltd is a brand new Irish florist business. 
    Although we are new to the floral industry we are definitly 
    here to stay with several stores around Dublin.
    We sell bouquets and wreaths of flowers in various sizes and styles. 
    We also offer customized bouquet with different flowers, coloured bows, 
    cards and vases. We also sell a number of gift products including teddy bears, 
    chocolates and other seasonal items based around holidays. 
    Special offers are available around Christmas, Mother’s day, 
    Valentine’s day and so on so check back regularly!</p>  
    
    <p>We hope you enjoy browsing our website.
    Don't forget to smell the flowers!</p>
    
    <p>Aoife & Emma :)</p>
  </div>
</div>