<!--Page provides the title Contact Us to the title variable in the application.html.erb page-->
<%provide(:title, "Contact Us")%>

<!--Template from http://codepen.io/jaycbrf/pen/iBszr using bootstrap-->
<div class="container">

    <form class="well form-horizontal" action="mailto:freshflowersltd@gmail.com" method="post" onsubmit="endContact()" id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Contact Fresh Flowers</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">First Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="first_name" placeholder="First Name" class="form-control"  type="text" required>
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Last Name</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="last_name" placeholder="Last Name" class="form-control"  type="text" required>
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="Email Address" class="form-control"  type="text" required>
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Phone #</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="phone" placeholder="081-2345678" class="form-control" type="text" required>
    </div>
  </div>
</div>

<!-- Text input-->
      
<div class="form-group">
  <label class="col-md-4 control-label">Address</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="address" placeholder="Address" class="form-control" type="text" required>
    </div>
  </div>
</div>

<!-- Select Basic -->
   
<div class="form-group"> 
  <label class="col-md-4 control-label">County</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="state" class="form-control selectpicker" >
      <option value=" " >Please select your county</option>
      <option>Antrim</option>
      <option>Armagh</option>
      <option >Carlow</option>
      <option>Cavan</option>
      <option>Clare</option>
      <option>Cork</option>
      <option>Derry</option>
      <option>Donegal</option>
      <option>Down</option>
      <option>Dublin</option>
      <option>Fermanagh</option>
      <option>Galway</option>
      <option>Kerry</option>
      <option>Kildare</option>
      <option>Kilkenny</option>
      <option>Laois</option>
      <option>Leitrim</option>
      <option>Limerick</option>
      <option>Longford</option>
      <option>Louth</option>
      <option>Mayo</option>
      <option>Meath</option>
      <option>Monaghan</option>
      <option>Offaly</option>
      <option>Roscommon</option>
      <option>Sligo</option>
      <option>Tipperary</option>
      <option>Tyrone</option>
      <option>Waterford</option>
      <option>Westmeath</option>
      <option >Wexford</option>
      <option >Wicklow</option>
      
    </select>
  </div>
</div>
</div>

<!-- radio checks -->
 <div class="form-group">
                        <label class="col-md-4 control-label">How did you hear about Fresh Flowers?</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="heard" value="online" /> Online
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="heard" value="newspaper" /> Newspaper
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="heard" value="wordofmouth" /> Word of mouth
                                </label>
                            </div>
                        </div>
                    </div>

<!-- Text area -->
  
<div class="form-group">
  <label class="col-md-4 control-label">Message</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" name="message" placeholder="Enter your message here..." required></textarea>
  </div>
  </div>
</div>

<!-- Success message -->
<div id="ThankYou" style="display:none;"class="alert alert-success" role="alert" id="success_message">
    Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
      <button class="btn btn-warning" id="contactButton">Send
      <span class="glyphicon glyphicon-send"></span></button>
    
  </div>
</div>
 <script src="app/assets/javascripts/forms.js"></script>
</fieldset>
</form>
</div>
    </div><!-- /.container -->