<!--Page provides the title Home to the title variable in the application.html.erb page-->
<%provide(:title, "Home")%>

<div class="panel panel-warning">
  <div class="panel-heading">
    <!--If a user is logged in, greet them by email-->
    <h2 class="panel-title">Welcome to Fresh Flowers
    <% if current_user %><%= current_user.first_name%><% end %>!</h2>
  </div>
  <div class="panel-body">
    
    <p>
    Whether you're new to our site or a established Fresh Flowers customer,
    We hope you'll enjoy browsing our website. Don't forget to say hello
     on the contact page!</p>
  </div>
</div>

<div class="container-fluid">
<%= image_tag("home.png", :alt => "home", :class => "img-responsive", :width => "100%") %>
</div>