<!--Page provides the title Home to the title variable in the application.html.erb page-->
<%provide(:title, "Thank You")%>

<div class="panel panel-warning">
  <div class="panel-heading">
    <!--If a user is logged in, greet them by email-->
    <h2 class="panel-title">Thank you
    <% if current_user %><%= current_user.first_name%><% end %>!</h2>
  </div>
  <div class="panel-body">
    
    <p>
    We appreciate your custom.
    Your flowers will be delivered in 2 working days.
    Here at Fresh Flowers we strive to meet the highest standards
    so please take a few minutes to give us your feedback.
    Select Contact Us from the menu above and let us know your thoughts.
    Remember to recommend Fresh Flowers to your friends and family,
    and have a wonderful day! :)</p>
  </div>
</div>