<%provide(:title, "My Cart")%>

<p id="notice"><%= notice %></p>



	<div class="container" style="width:90%">
		<h1>My Cart</h1>
		<table id="cart" class="table table-hover table-condensed">
	    				<thead>
							<tr>
								<th style="width:50%">Product</th>
								<th style="width:10%">Price</th>
								<th style="width:8%">Quantity</th>
								<th style="width:22%" class="text-center">Subtotal</th>
								<th style="width:10%"></th>
							</tr>
						</thead>    
    <% @cartitems.each do |product| %>
      		<tbody>
							<tr>
								<td data-th="Product">
									<div class="row">
										<%= image_tag (product.image), :class => "img-responsive", :class => "col-sm-4 hidden-xs" %>
										<div class="col-sm-6">
											<h4 class="nomargin"><%= product.title %></h4>
											<p><%= product.description %></p>
										</div>
									</div>
								</td>
								<td data-th="Price">€<%= product.price %></td>
								<td data-th="Quantity">1</td>
								<td data-th="Subtotal" class="text-center">€<%= product.price %></td>
								<td class="actions" data-th="">
									<%= button_to 'Remove', cart_remove_path(:id => product.id), class:"btn btn-info btn-sm" %>
								</td>
							</tr>
				</tbody>
				
    <% end %>
						<tfoot>
							<tr class="visible-xs">
								<td class="text-center"><strong>€<%= @total %></strong></td>
							</tr>
							<tr>
								<td><%= link_to 'Continue Shopping', products_path, class:"btn btn-warning" %></td>
								<td colspan="2" class="hidden-xs"></td>
								<td class="hidden-xs text-center"><strong>€<%= @total %></strong></td>
								<% if current_user %>
								<td><%= link_to 'Checkout', checkout_path, class:"btn btn-success btn-block" %></td>
								<% else %>
								<td><%= link_to 'Login or Register to Checkout', login_path, class:"btn btn-success btn-block" %></td>
								<% end %>

							</tr>
						</tfoot>
					</table>

<br>