<%provide(:title, "Update Details")%>

<h2>Update your account details:</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <form class="form-horizontal">

  <!--First name field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterFirstName" class="col-sm-2 control-label"><%= f.label :first_name %></label>
    <div class="col-sm-10"><input type="text" class="form-control" placeholder="First Name" 
    <%= f.text_field :first_name %></input></div>
  </div>
  
  <!--Last name field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterLastName" class="col-sm-2 control-label"><%= f.label :last_name %></label>
    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Last Name" 
    <%= f.text_field :last_name %></input></div>
  </div>
  
  <!--Phone number field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterPhoneNumber" class="col-sm-2 control-label"><%= f.label :phone_number %></label>
    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Phone Number" 
    <%= f.text_field :phone_number %></input></div>
  </div>

  <!--Email field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterEmail" class="col-sm-2 control-label"><%= f.label :email %></label>
    <div class="col-sm-10"><input type="email" class="form-control" placeholder="Email" 
    <%= f.email_field :email, autofocus: true %> </input></div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <!--Password field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterPassword" class="col-sm-2 control-label"><%= f.label :password %></label>
    <div class="col-sm-10"><input type="password" class="form-control" 
    placeholder="Leave blank if you don't want to change"
    <%= f.password_field :password, autocomplete: "off" %> </input></div>
  </div>
  
  <!--Password confirmation field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterPassword" class="col-sm-2 control-label">Confirm Password</label>
    <div class="col-sm-10"><input type="password" class="form-control" placeholder="Confirm new password if changed"
    <%= f.password_field :password_confirmation, autocomplete: "off" %> </input></div>
  </div></br></br>
  
  <!--Current password field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterPassword" class="col-sm-2 control-label"><%= f.label :current_password %></label>
    <div class="col-sm-10"><input type="password" class="form-control" 
    placeholder="Enter your current password to confirm your changes"
    <%= f.password_field :current_password, autocomplete: "off" %> </input></div>
  </div>
  
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  
  </form>
<% end %>

<p><%= button_to "Cancel my account", 
registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
<%= link_to "Back", :back %>

