<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <<!--First name field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterFirstName" class="col-sm-2 control-label"><%= f.label :first_name %></label>
    <div class="col-sm-10"><input type="text" class="form-control" placeholder="First Name" 
    <%= f.text_field :first_name %></input></div>
  </div>
  <!--Last name field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterLastName" class="col-sm-2 control-label"><%= f.label :last_name %></label>
    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Last Name" 
    <%= f.text_field :last_name %></input></div>
  </div>
  <!--Phone number field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterPhoneNumber" class="col-sm-2 control-label"><%= f.label :phone_number %></label>
    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Phone Number" 
    <%= f.text_field :phone_number %></input></div>
  </div>
  <!--Email field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterEmail" class="col-sm-2 control-label"><%= f.label :email %></label>
    <div class="col-sm-10"><input type="email" class="form-control" placeholder="Email" 
    <%= f.email_field :email, autofocus: true %> </input></div>
  </div>
  <!--Password field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterPassword" class="col-sm-2 control-label"><%= f.label :password %></label>
    <div class="col-sm-10"><input type="password" class="form-control" 
    placeholder="<%if @minimum_password_length%><%=@minimum_password_length%> characters minimum
    <% end %>"
    <%= f.password_field :password, autocomplete: "off" %> </input></div>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
