<!--Page provides the title Users to the title variable in the application.html.erb page-->
<%provide(:title, "Update Details")%>

<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
