<!--Page provides the title Users to the title variable in the application.html.erb page-->
<%provide(:title, "Users")%>

<!--Comment out notice here because code in the application view will display it-->
<!--<p id="notice"><%#= notice %></p>-->

<h1>All Users:</h1>

<table class="table">
  <thead>
    <tr>
      <th>CustomerID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class:"btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', user, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%#= link_to 'New User', new_user_path %>-->
