<!--Page provides the title Users to the title variable in the application.html.erb page-->
<%provide(:title, "Users")%>

<!--Comment out notice here because code in the application view will display it-->
<!--<p id="notice"><%#= notice %></p>-->

<dl class="dl-horizontal">

<p>
  <dt><strong>First name:</strong></dt>
  <dd><%= @user.first_name %></dd>
</p>

<p>
  <dt><strong>Last name:</strong></dt>
  <dd><%= @user.last_name %></dd>
</p>

<p>
  <dt><strong>Phone number:</strong></dt>
  <dd><%= @user.phone_number %></dd>
</p>

<p>
  <dt><strong>Email:</strong></dt>
  <dd><%= @user.email %></dd>
</p>
</dl>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
