<%provide(:title, "Password Reset")%>

<h2>Reset your password:</h2>
<p>Note: You will receive instructions on how to reset your password by email.</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <!--Email field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="RegisterEmail" class="col-sm-2 control-label"><%= f.label :email %></label>
    <div class="col-sm-10"><input type="email" class="form-control" placeholder="Email" 
    <%= f.email_field :email, autofocus: true %> </input></div>
  </div>

  <div class="actions">
    <p> </p>
   <%= f.submit "Send reset instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
