<%provide(:title, "Admin")%>

<h2>Admin Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<!--Email field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="AdminEmail" class="col-sm-2 control-label"><%= f.label :email %></label>
    <div class="col-sm-10"><input type="email" class="form-control" placeholder="Email" 
    <%= f.email_field :email, autofocus: true %> </input></div>
  </div>

  <!--Password field using bootstrap and devise-->
  <div class="form-group" class="field">
    <label for="AdminPassword" class="col-sm-2 control-label"><%= f.label :password %></label>
    <div class="col-sm-10"><input type="password" class="form-control" 
    placeholder="Password"
    <%= f.password_field :password, autocomplete: "off" %> </input></div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
