<%= stylesheet_link_tag "application.css" %>

<%= form_for(@checkout) do |f| %>
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% @checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <form class="form-horizontal">

  <!--Address field using bootstrap-->
  <div class="form-group" class="field">
    <label for="Delivery address" class="col-sm-2 control-label"><%= f.label :deliver_to_address %></label>
    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Enter address"
    <%= f.text_field :deliver_to_address %></input></div>
  </div>
  
  <!--Credit card field using bootstrap-->
  <div class="form-group" class="field">
    <label for="Credit Card Number" class="col-sm-2 control-label"><%= f.label :credit_card_number %></label>
    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Enter credit card number"
    <%= f.text_field :credit_card_number %></input></div>
  </div>
  
  <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Visa">Visa
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Mastercard">Mastercard
</label>

<div class="field" class="well"><%= f.label :total_price %>
  <strong><em>€<%=@total%></em></strong>   <!--Show the total price--></div>
  
  <!--Hide the following fields as they are populated automatically--> 
  <!--Users should not have access to them-->
  <div class="actions">
    <% if current_user %>
    <%= f.hidden_field :customer_id, :value => current_user.id %> <% end %>
    <%= f.hidden_field :payment, :value => "false" %>
    <%= f.hidden_field :date_time, :value => Time.now %>
    <%= f.hidden_field :total_price, :value => @total %> <!--Enter the value explicitly-->
    <%= f.submit "Confirm Payment" %>
  </div>
  </form>
  
<% end %>
