<!--<p id="notice"><%#= notice %></p>-->
<%provide(:title, "Checkouts")%>

<% if current_admin %>
<h1>All Checkouts:</h1>
<% end %>
<% if current_user %>
<h1>Your Order History:</h1>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>CustomerID</th>
      <th>Address</th>
      <th>Credit Card Number</th>
      <th>Total Price</th>
      <th>Paid?</th>
      <th>Date & Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkouts.each do |checkout| %>
      <tr>
        <td><%= checkout.customer_id %></td>
        <td><%= checkout.deliver_to_address %></td>
        <td><%= checkout.credit_card_number %></td>
        <td><%= checkout.total_price %></td>
        <td><%= checkout.payment %></td>
        <td><%= checkout.date_time %></td>
        <!--<td><%#= link_to 'Show', checkout %></td>-->
        <!--Admins cannot edit checkouts because the form is automatically
        populated with current_user.id, which the admin doesn't have!-->
        <!--<td><#%= link_to 'Edit', edit_checkout_path(checkout) %></td>-->
        <!--<td><%#= link_to 'Destroy', checkout, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkout', checkout_path %>
