
<%provide(:title, "Checkout")%>

<!--Comment out notice here because code in the application view will display it-->
<!--<p id="notice"><%#= notice %></p>-->

<p>
  <strong>Customer:</strong>
  <%= @checkout.customer_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @checkout.cart_id %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @checkout.payment %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @checkout.date_time %>
</p>

<!--<%#= link_to 'Edit', edit_checkout_path(@checkout) %>-->
<%= link_to 'Back', checkouts_path %>
