<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="container" style="width:90%">
		<h1>Category Information</h1>
		<form>
		  <div class="form-group row">
		      <%= f.label :name, class:"col-sm-2 form-control-label" %>
		    <div class="col-sm-10">
		      <%= f.text_field :name, class:"form-control"%>
		    </div>
		  </div>
		  <div class="form-group row">
		      <%= f.label :collection, class:"col-sm-2 form-control-label"%>
		    <div class="col-sm-10">
		      <%= f.text_field :collection, class:"form-control"%>
		    </div>
		  </div>
		  <div class="form-group row">
		    <div class="col-sm-offset-2 col-sm-10">
		      <%= f.submit "Submit Category Details", class:"btn btn-secondary" %>
		    </div>
		  </div>
		  <div class="form-group row">
	      <div class="col-sm-offset-2 col-sm-10">
		      <%= link_to 'Back', categories_path, class:"btn btn-secondary"%>
		    </div>
     </div>  
		</form>
	</div>
<% end %>
