<!--Page provides the title Addresses to the title variable in the application.html.erb page-->
<%provide(:title, "Categories")%>

<h1>Editing Category</h1>

<%= render 'form' %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
