<!--Page provides the title Addresses to the title variable in the application.html.erb page-->
<%provide(:title, "Categories")%>

<p id="notice"><%= notice %></p>

<div class="container">
  <h2>All Categories:</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.collection %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to 'New Category', new_category_path, class:"btn btn-primary" %>
</div>

<br>
