<!--Page provides the title Addresses to the title variable in the application.html.erb page-->
<%provide(:title, "Categories")%>

<p id="notice"><%= notice %></p>

<div class="container">
  <h2>Category:<%= @category.name %></h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @category.name %></td>
        <td><%= @category.collection %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_category_path(@category), class:"btn btn-primary" %> 
  <%= link_to 'Back', categories_path, class:"btn btn-primary" %>
</div>


