<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="container" style="width:90%">
		<h1>Product Information</h1>
		<form>
		  <div class="form-group row">
		      <%= f.label :title, class:"col-sm-2 form-control-label"%>
		    <div class="col-sm-10">
		      <%= f.text_field :title, class:"form-control"%>
		    </div>
		  </div>
		  <div class="form-group row">
		      <%= f.label :description, class:"col-sm-2 form-control-label"%>
		    <div class="col-sm-10">
		      <%= f.text_field :description, class:"form-control"%>
		    </div>
		  </div>
		  <div class="form-group row">
		      <%= f.label :image, class:"col-sm-2 form-control-label"%>
		    <div class="col-sm-10">
		      <%= f.text_field :image, class:"form-control"%>
		    </div>
		  </div>
		  <div class="form-group row">
		      <%= f.label :stock_qty, class:"col-sm-2 form-control-label"%>
		    <div class="col-sm-10">
		      <%= f.number_field :stock_qty, class:"form-control"%>
		    </div>
		  </div>
		  <div class="form-group row">
		      <%= f.label :price, class:"col-sm-2 form-control-label"%>
		    <div class="col-sm-10">
		      <%= f.text_field :price, class:"form-control"%>
		    </div>
		  </div>
		  
		  <div class="form-group row">
		      <%= f.label :colour, class:"col-sm-2 form-control-label"%>
		    <div class="col-sm-10">
            <script type="text/javascript">
               $(document).ready(function() {
               $('#example-without-maxHeight').multiselect();
               });
            </script>
            <select name="category[]" id="example-without-maxHeight" multiple="multiple">
               <% if @categoryIds !=nil %>
               		<% @colour.each do |colour| %>
               			<% if @categoryIds.include?(colour.id) %>
			   				<option value="<%= colour.id %>" selected><%= colour.name %></option>
			   			<% else %>
			   				<option value="<%= colour.id %>"><%= colour.name %></option>
			  			<% end %>
			  		<% end %>
			  <% else %>
			         <% @colour.each do |colour| %>
			   				<option value="<%= colour.id %>"><%= colour.name %></option>
			  		 <% end %>
			  <% end %>
            </select>
		    </div>
		  </div>
		  
		  <div class="form-group row">
		      <%= f.label :range, class:"col-sm-2 form-control-label"%>
		    <div class="col-sm-10">
            <script type="text/javascript">
               $(document).ready(function() {
               $('#example-with-maxHeight').multiselect({
               });
               });
            </script>
			<select name="category[]" id="example-with-maxHeight" multiple="multiple">
               <% if @categoryIds !=nil %>
               		<% @range.each do |range| %>
               			<% if @categoryIds.include?(range.id) %>
			   				<option value="<%= range.id %>" selected><%= range.name %></option>
			   			<% else %>
			   				<option value="<%= range.id %>"><%= range.name %></option>
			  			<% end %>
			  		<% end %>
			  <% else %>
			         <% @range.each do |range| %>
			   				<option value="<%= range.id %>"><%= range.name %></option>
			  		 <% end %>
			  <% end %>
            </select>		    
          </div>
		  </div>
		  
       	<div class="form-group row">
		    	<div class="col-sm-offset-2 col-sm-10">
		      	<%= f.submit "Submit Product Details", class:"btn btn-secondary" %>
		    	</div>
		  	</div>
		  	<div class="form-group row">
	      	<div class="col-sm-offset-2 col-sm-10">
		      	<%= link_to 'Back', products_path, class:"btn btn-secondary"%>
		    </div>
     </div> 
    </form>
	</div>
<% end %>