<!--Page provides the title Addresses to the title variable in the application.html.erb page-->
<%provide(:title, "Products")%>

<p id="notice"><%= notice %></p>

	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        	<ul class="nav nav-sidebar">
		 		<div class="panel-group" id="accordion">
  					<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Shop by Range</a>
      						</h4>
    					</div>
    					<div id="collapse1" class="panel-collapse collapse in">
      						<div class="panel-body">		      		
      							<% @range.each do |range| %>
      								<li><%= link_to range.name, products_path(:category => range.id) %></li>
		        				<% end %>
		        			</div>
    					</div>
  					</div>
  					<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Shop by Colour</a>
      						</h4>
    					</div>
    					<div id="collapse2" class="panel-collapse collapse">
      						<div class="panel-body">		      		
      							<% @colour.each do |colour| %>
      								<li><%= link_to colour.name, products_path(:category => colour.id) %><li>
		        				<% end %>
		        			</div>
    					</div>
  					</div>
  					<div class="panel panel-default">
    					<div class="panel-heading">
      						<h4 class="panel-title">
        						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Shop by Price</a>
      						</h4>
    					</div>
    					<div id="collapse3" class="panel-collapse collapse">
      						<div class="panel-body">
      							<li><%= link_to 'Under €30.00', products_path(:a => '<30') %></li>
      							<li><%= link_to '€30.00 - €50.00', products_path(:b => '30-50') %></li>
      							<li><%= link_to '€50.00 - €70.00', products_path(:c => '50-70') %></li>
      							<li><%= link_to '€70.00+', products_path(:d => 'over70') %></li>
      						</div>
    					</div>
  					</div>
				</div>
		 	</ul>
		</div>
      <!-- Portfolio Item Row -->
      <div class="row">

          <div class="col-md-5">
              <%= image_tag (@product.image), :class => "img-responsive" %>
          </div>

          <div class="col-md-4">
		      <div class="caption">
		        <h3><%= @product.title %></h3>
		        <p><%= @product.description %></p>
		        <p>€<%= @product.price %></p>
		        <% if current_admin %>
		        <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-warning"  %>
	        	<%= link_to 'Destroy', @product, method: :delete, class:"btn btn-danger",  data: { confirm: 'Are you sure?' } %>
		        <% else %>
		        <%= button_to 'Add to Cart', cart_path(:id => @product.id), class:"btn btn-primary" %>
		        <% end %>
		      </div>
		      <div class="form-group row">
	      		<div class="col-sm-offset-2 col-sm-10">
		    		</div>
     			</div>
          </div>
      </div>
      <!-- /.row -->
	</div>

