<!DOCTYPE html>
<html>
<head>
	
	<!--Line below looks for the title variable in each .html.erb page and replaces the
	title variable here with it-->
  <title><%=yield(:title)%> | Fresh Flowers</title>
  <%= stylesheet_link_tag "application.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<!--Partial for header. Renders content from layouts/_header.html.erb-->
	<%=render'layouts/header'%>	
	
    	<!--The code below deals with flash messages and is necessary when using devise-->
    	<!--It also picks up all notices from pages and displays them uniformly.-->
	<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
<% end %>

	<%= yield %>

	<!--Partial for footer. Renders content from layouts/_footer.html.erb-->
	<%=render'layouts/footer'%>	
	
</body>
</html>
